.comp-container
    width 60px
    height 100%    
    position absolute
    top 0px
    .overview-thumbnail
        border 1px solid #e2e2e2
        width 60px
        height 60px
        text-align  center
        font-size 12px
        line-height 5
        background #fff
        white-space nowrap;
