div.overview-thumbnail.h-show-overview-item(data-id='h-overview-widget') OverView
div.overview-thumbnail.h-show-zoom-item(data-id='h-zoom-widget') Zoom
div.overview-thumbnail.h-show-Metadata-item(data-id='h-metadata-widget') Metadata
div.overview-thumbnail.h-show-annotation-item(data-id='h-annotation-selector') Annotations
